body {
  padding: 0;
  border: 0;
  margin: 0 auto;
  color: black;
  font-family: "Fira Sans", "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, "FreeSans", Arial, sans-serif; }

h1, h2, h3 {
  font-weight: 300; }

a {
  color: #d39d00; }

header, section {
  margin: 0 auto; }

header {
  display: block;
  max-width: 920px;
  padding: 0 50px;
  height: 100px;
  margin: 33px auto 33px auto; }

div.smoler {
  max-width: 920px;
  margin: 0 auto; }

header div.logo {
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url("../img/logo/logo.png");
  background-image: url("../img/logo/logo.svg");
  background-size: cover;
  width: 64px;
  float: left;
  /* I love maths */
  height: calc(64px * 1.56689342404); }

header nav.buttons {
  float: right;
  margin-top: 35px; }

header nav.buttons a {
  letter-spacing: 1px;
  text-decoration: none;
  padding: 5px 8px;
  margin: 5px 3px;
  background-color: #ffca30;
  color: black;
  font-size: 14pt;
  border-radius: 4px; }

nav.social {
  position: relative;
  float: right;
  margin-top: 21pt;
  font-size: 36px;
  letter-spacing: 15px;
  left: 12px; }

nav.social a {
  color: black;
  transition: 0.5s; }

nav.social a:hover {
  color: #ffca30; }

section#hero {
  width: 100%;
  background: #ff8c12;
  height: 360px;
  overflow: hidden; }
  section#hero div.l {
    width: calc(50% - (45px * 2));
    display: block;
    padding: 45px;
    float: left; }
    section#hero div.l h1 {
      font-size: 2.5em;
      margin-top: 0;
      color: white; }
      section#hero div.l h1 a {
        text-decoration: none;
        color: #ff8c12;
        font-size: 0.5em; }
        section#hero div.l h1 a sup {
          font-weight: 400;
          background: white;
          padding: 3px 8px;
          border-radius: 2px;
          position: relative;
          bottom: 18px;
          left: 3px; }
    section#hero div.l h2 {
      line-height: 1.5;
      margin: 50px 0;
      font-size: 1.75em;
      color: white; }
    section#hero div.l a.button {
      font-size: 1.2em;
      padding: 8px 12px;
      color: white;
      border: 1px solid white;
      text-decoration: none;
      border-radius: 2px;
      background: #ff8c12;
      margin-right: 2px;
      margin-bottom: 15px; }
    section#hero div.l a.button:hover {
      background: white;
      color: #ff8c12;
      transition: 0.13s; }
  section#hero div.r {
    width: calc(50% - (10px * 2));
    float: right; }
    section#hero div.r img {
      margin: 0 auto;
      margin-top: 2px;
      width: 100%;
      margin-bottom: -20%; }

footer {
  max-width: 920px;
  padding: 0 40px;
  margin: 100px auto 50px auto; }
  footer div.feet h3 {
    line-height: 1.5;
    text-align: center;
    font-weight: 400; }
  footer a {
    display: inline-block; }

section#s1 {
  display: flex;
  width: 100%;
  margin-bottom: 100px; }
  section#s1 h1 {
    font-size: 3em;
    text-align: center;
    padding: 0 25px;
    line-height: 1.5; }
  section#s1 h2 {
    font-size: 2em;
    text-align: center;
    padding: 0 25px;
    line-height: 1.5; }
  section#s1 img {
    max-width: 492px;
    display: block;
    margin: 50px auto; }
  section#s1 div.lefty {
    order: 1; }
  section#s1 div.righty {
    order: 2; }

div.lefty {
  overflow: hidden;
  float: left;
  width: calc(50% - 20px); }

div.righty {
  overflow: hidden;
  float: right;
  width: calc(50% - 20px); }

section#s2 {
  display: flex;
  height: 325px;
  width: 100%;
  margin: 100px auto 0 auto; }
  section#s2 h3 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px; }
  section#s2 p {
    font-size: 1.25em;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.5; }
  section#s2 img.facts {
    max-width: 345px;
    display: block;
    margin: 20px auto; }
  section#s2 img.fun {
    max-width: 345px;
    display: block;
    margin: 50px auto 0 auto; }
  section#s2 blockquote {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-size: 1.75em;
    line-height: 1.3; }
  section#s2 h4 {
    width: 80%;
    margin: 25px auto 0 auto;
    padding: 0;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1.25em;
    line-height: 1.3; }

section#dl {
  order: 5;
  display: flex;
  background: #ff8c12;
  width: calc(100% - (25px - 2));
  margin: 50px auto;
  padding: 25px; }
  section#dl h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 20px; }
  section#dl a.button {
    font-size: 3.5em;
    text-decoration: none;
    background-color: white;
    padding: 10px 15px;
    border-radius: 4px;
    color: #ff8c12; }
  section#dl h5 {
    font-weight: 300;
    text-align: center;
    margin: 50px 0; }
  section#dl h3 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px; }
  section#dl p {
    font-size: 1.25em;
    width: 70%;
    text-align: center;
    margin: 0 auto 20px auto;
    line-height: 1.6;
    color: white; }
  section#dl a {
    color: #ffefde; }

.tnw img, .lh img {
  height: 35px;
  margin-top: 20px; }

@media screen and (max-width: 950px) {
  section#hero {
    padding: 0;
    height: inherit; }
    section#hero div.l {
      width: calc(100vw - (50px * 2));
      margin: 0;
      padding: 50px;
      float: none; }
      section#hero div.l h1 {
        font-size: 4em;
        text-align: center;
        margin: 0; }
      section#hero div.l h2 {
        font-size: 1.75em;
        text-align: center;
        margin: 36px 0; }
      section#hero div.l div.butto {
        text-align: center; }
      section#hero div.l a.button {
        display: inline-block;
        text-align: center; }
    section#hero div.r {
      width: calc(100vw - (50px * 2));
      margin: 0;
      padding: 50px;
      float: none;
      display: none; } }
@media screen and (max-width: 900px) {
  nav.social {
    position: relative;
    float: right;
    margin-top: 21pt;
    font-size: 32px;
    letter-spacing: 8px;
    left: 12px; }

  #s1 {
    height: 750px;
    margin: 0 auto 100px auto; }
    #s1 img {
      width: 100%;
      max-width: 492px;
      margin: 0; }

  #s2 {
    margin: 25px auto 25px auto !important;
    display: flex;
    float: none;
    height: auto !important;
    flex-direction: column; }

  #s2.press {
    margin: 80px auto 80px auto !important;
    display: flex;
    float: none;
    height: auto !important;
    flex-direction: column; }

  div.lefty {
    width: calc(100vw - (30px * 2));
    height: auto;
    padding: 30px; }
    div.lefty img {
      width: 100%;
      max-width: 492px !important; }

  div.righty {
    width: calc(100vw - (30px * 2));
    height: auto;
    padding: 30px; }
    div.righty img {
      width: 100%;
      max-width: 492px !important; }

  blockquote {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-size: 1.75em;
    line-height: 1.3; }

  h4 {
    margin: 25px auto 0 auto;
    padding: 0;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1.25em;
    line-height: 1.3; }

  .tnw img, .lh img {
    height: 35px;
    margin-top: 0px;
    margin-bottom: 50px; } }
@media screen and (max-width: 500px) {
  header {
    padding: 0 30px; }

  header div.logo {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url("../img/logo/logo.png");
    background-image: url("../img/logo/logo.svg");
    background-size: cover;
    width: 56px;
    float: left;
    /* I love maths */
    height: calc(56px * 1.56689342404);
    margin-top: 5px; }

  nav.social {
    margin-top: 24pt;
    font-size: 28px;
    letter-spacing: 4px;
    left: 8px; }

  #hero h1 {
    font-size: 3em !important; }

  #hero h2 {
    font-size: 1.5em !important; }

  #s1 h1 {
    font-size: 2em !important; }

  #s1 h2 {
    font-size: 1.3em !important; }

  #s2 p {
    width: 90% !important;
    font-size: 1.13em !important; }

  footer {
    margin-top: 35px; }
    footer h3 {
      font-size: 0.9em; }

  .press blockquote {
    font-size: 1.5em !important; }

  #dl p {
    font-size: 0.9em !important; } }
