$bright: #ffca30

body
  padding: 0
  border: 0
  max-width: 1200px
  margin: 0 auto
  color: black
  font-family: 'Source Sans Pro', 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, 'FreeSans', Arial, sans-serif

h3
  font-weight: 400

h2
  font-weight: 300

h1
  font-weight: 300

header, section
  display: block
  width: 75%
  margin: 0 auto

header
  height: 100px
  margin: 50px auto 25px auto

section
  padding: 50px 25px
  margin-bottom: 50px

header div.logo
  margin: 0
  padding: 0
  border: 0
  background-image: url('../img/logo/logo.png')
  background-image: url('../img/logo/logo.svg')
  background-size: cover
  width: 64px
  float: left
  /* I love maths */
  height: calc(64px * 1.56689342404)

header nav.buttons
  float: right
  margin-top: 35px

header nav.buttons a
  letter-spacing: 1px
  text-decoration: none
  padding: 5px 8px
  margin: 5px 3px
  background-color: $bright
  color: black
  font-size: 14pt
  border-radius: 4px

nav.social
  position: relative
  float: right
  margin-top: 15pt
  font-size: 36px
  letter-spacing: 15px
  left: 12px

nav.social a
  color: black
  transition: 0.5s

nav.social a:hover
  color: $bright

section#abt
  h1
    font-size: 3em
    margin: 0
    font-weight: 300
    text-align: justify
  h1 em
    font-style: normal
    text-decoration: underline
    color: $bright
  h1 em span
    text-decoration: none
    color: black

section#ppl
  display: flex
  flex-direction: column
  flex-flow: column wrap
  .josh
    order: 1
    align-self: flex-start
  .adam
    order: 2
    align-self: flex-start

div.person
  width: 100%
  text-align: center
  margin-bottom: 50px
  padding-bottom: 50px

  div.interests, div.lastfm, div.twitter
    width: 225px
    margin: 0 auto
    margin-top: 50px

  h3
    text-transform: uppercase
    font-size: 1em
    margin-bottom: 10px
    font-weight: 400

  p
    margin-top: 0
    font-size: 1.25em
    line-height: 1.5

  h1
    width: 200px
    font-size: 2.5em
    font-weight: 300
    margin: 0 auto
    line-height: 1

  a
    text-decoration: none
    color: $bright

div.person:nth-child(1)
  border-bottom: 1px solid $bright

footer
  display: block
  width: 90%
  margin: 0 auto

div.f
  h3
    display: inline-block
  h3:nth-child(1)
    float: left
  h3:nth-child(1)
    float: right

div.f
  margin-bottom: 75px

@media (max-width: 512px)
  section#abt
    h1
      font-size: 2.6em
      margin: 0
      font-weight: 300
      text-align: justify

  header div.logo
    margin: 0
    padding: 0
    border: 0
    background-image: url('../img/logo/logo.png')
    background-image: url('../img/logo/logo.svg')
    background-size: cover
    width: 52px
    float: left
    height: calc(52px * 1.56689342404)

  nav.social
    margin-top: 16pt
    font-size: 32px
    letter-spacing: 6px


@media (max-width: 600px)
  footer
    display: block
    width: 90%
    margin: 0 auto

  div.f
    h3
      display: block
      text-align: center
    h3:nth-child(1)
      float: none
    h3:nth-child(1)
      float: none

@media (max-width: 760px)
  section#abt
    height: 100px

@media (min-width: 760px)
  section#abt
    height: 200px
    h1
      font-size: 4.5em
      margin: 0
      font-weight: 300
      text-align: left

@media (min-width: 920px)
  div.person
    width: 50%

  div.person:nth-child(1)
    border-bottom: 0

  section#ppl
    display: flex
    flex-direction: row
    flex-flow: row wrap
    
  div.person.josh
    float: left
  div.person.adam
    float: right
